<!-- views/homepage.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!--NOTE: Most Web WorldWind bak use jquery, Bootstrap and requirejs but those technologies are NOT-->
    <!--required by Web WorldWind. See SimplestExample.html for an example of using Web WorldWind without them.-->
    <meta charset="utf-8"/>
    <title>AWB Disease Trends</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<!--    <link rel="icon" href="/images/download%20(2).jpeg">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,900' rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">-->
    <link href="//www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/menu.css"/>
    <link rel="stylesheet" href="css/stylesheet1.css"/>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"><!--    <link data-require="bootstrap@3.3.7" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
    <link rel="stylesheet" type="text/css" href="css/Chart.css"><!--    <link data-require="bootstrap@3.3.7" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
<!--    <script data-require="angular.js@1.6.0" data-semver="1.6.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>-->
<!--    <script data-require="ui-bootstrap@*" data-semver="2.2.0" src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.2.0.js"></script>-->
<!--    <link rel="stylesheet" href="css/rzslider.css" />-->
    <script src="3rdPartyLibs/jquery-3.3.1.min.js" type="text/javascript"></script>
<!--    <script src="https://www.google.com/recaptcha/api.js?render=6Ld7fq8UAAAAAOv8ZEiVj6P972pR_Vf3ko5R0JB_"></script>-->
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
<!--    <script src="3rdPartyLibs/build/WorldWind-built.js"></script>-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="3rdPartyLibs/popper-1.14.0.min.js"></script>
    <script src="3rdPartyLibs/bootstrap-3.3.4.min.js"></script>
    <script src="3rdPartyLibs/Chart-2.9.3.min.js"></script>
    <script src="3rdPartyLibs/dateformat.min.js"></script>
    <script type="text/javascript" src="scripts/ui_controls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<!--    <script src="scripts/customPL_Worker.js"></script>-->
<!--    <script data-main="../scripts/Home"></script>-->
    <script data-main="../scripts/Home" src="3rdPartyLibs/requirejs-2.3.6.min.js"></script>

    <style>
        body {padding-bottom: 80px}

        .note {
            color: #959595;
        }

        .button1 {
            width: 100px;
            height: 30px;
            border-radius: 100px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: #337ab7;
            border: 1px solid #337ab7;
            font-size: 18px;
            margin-left: 5px;
        }

        .button1:hover {
            background-color: #337ab7;
            color: white;
        }

        #refresh:hover {
            background-color: #57b6b7;
            color: white;
        }
        #clear, #stopTL:hover {
            background-color: #b71926;
            color: white;
        }
        #stopTL {
            background-color: grey;
        }

        .log-form {
            font-size : 18px;
        }

        .box1 {
            /*margin-left: -30px;*/
            padding: 30px;
            position: absolute;
            width: 380px;
            height: 930px;
            box-shadow: 9px 4px 10px 0 rgba(0, 0, 0, 0.21), -4px 6px 18px 0 rgba(0, 0, 0, 0.17);
        }

        #accordion::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background-color: rgba(0, 0, 0, .5);
            /*-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);*/
        }

        #accordion::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }

        #accordion::-webkit-scrollbar-corner  {
            display: block;
        }
        .highlight {
            border: 1px solid blue;
        }

        .alert alert-danger {
        }
        .popup-group {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 120%;
            background-color: rgba(290, 220, 220, 0.51);
            display: none

        }
        .popupBoxWrapper{
            width: 600px; margin: 50px auto; text-align: left; max-height:800px; overflow-y: auto;
        }
        .popupBoxContent{
            background-color: #FFF; padding: 25px; width:100%;

        }
        .popup-Header {
            padding: 10px 16px;
            background-color: #84c77d;
            color: white;
        }
        .close {
            color: red;
            float: right;
            font-size: 38px;
            font-weight: bold;
        }
        .popup-Body {padding: 2px 16px;}

        #capsWarning {
            color: red;
            text-align: center;
        }

        #layers-toggle{
            position: absolute;
            top: 417px;
            left: 330px;
            width: 60px;
            height: 34px;
        }

        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #b8b8b8;
            border-radius: 10px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #888888;
        }

    </style>

</head>

<ul class="tab" style="z-index: 999; position: fixed; left: 0; height: 38px; width: 100%; background: rgba(46,74,110,1); overflow: visible">
    <li><a class="tablinksLeft logo" title="Info"><strong>AWB Disease Trends</strong></a></li>
    <li>
        <a class="tablinksLeft" onclick="openTabLeft(event, 'controls')" title="Controls">
            <span class="glyphicon glyphicon-tasks"></span></a>
    </li>
    <li>
        <a class="tablinksLeft" onclick="openTabLeft(event, 'options_div')" title="Globe Options">
            <span class="glyphicon glyphicon-globe"></span></a>
    </li>
    <li>
        <a class="tablinksLeft" onclick="openTabLeft(event, 'drawing')" title="Drawing Tools">
            <span class="glyphicon glyphicon-pencil"></span></a>
    </li>
    <li>
        <a class="tablinksLeft" id="globeOrigin" title="Reset">
            <span class="glyphicon glyphicon-repeat"></span></a>
    </li>

    <li>
        <a class="tablinksRight" onclick="openTabRight(event, 'information');"
           style="position: fixed; right: 1%; width: 3%;" title="Stats">
            <i class="fa fa-info" aria-hidden="true"></i></a>
    </li>
    <li>
        <a class="tablinksRight" id="charts" onclick="openTabRight(event, 'graphs')" style="position: fixed; right: 4%"
           title="Graphs">
            <i class="fa fa-bar-chart" aria-hidden="true"></i></a>
    </li>
</ul>
<div class="container">
    <div class="col-sm-8" id="globe">
        <canvas id="canvasOne" width="1920" height="1080" style="position: fixed; left: 0; width: 100%; height: 100%; background-color: black;">
            Your browser does not support HTML5 Canvas.
        </canvas>
        <div class="popup-group" id="popupBox">
            <div class="popupBoxWrapper">
                <div class="popupBoxContent">
                    <!-- Popup Box Header-->
                    <div class="popup-Header">
                        <span class="close" id="closeIt">&times;</span>
                    </div>
                    <!-- Popup Box Body-->
                    <div class="popup-Body chart-container" id="popupBody" >
<!--                    <div class="popup-Body chart-container" id="popupBody">-->
<!--                        <canvas id = "stackedChart" style="background:#fff; height:200px;"></canvas>-->
                    </div>
                    <!--Popup Box Footer-->
                    <div class="popup-Footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="options_div" class="col-sm-2 tabcontentLeft leftTabPadding"
         style="font-size: 12px !important; padding-bottom: 5% !important;">
        <div class="smallRule">
            <h4 style="text-align: center">Globe Options:</h4>
        </div>
        <h5>Projection</h5>
        <div class="dropdown" id="projectionDropdown" style="height: 10px">
        </div>
        <hr>
        <h5>Category</h5>
        <div class="dropdown" id="categoryList" style="height: 10px">
        </div>
        <hr>
        <h5>Continents</h5>
        <div class="dropdown" id="continentList" style="height: 10px">
        </div>
        <hr>
        <h5>Layers <span id="refresh" class="glyphicon glyphicon-refresh btn"></span><span id="clear" class="glyphicon glyphicon-trash btn"></span></h5>
        <div class="list-group" id="layerList">
        </div>
        <hr>
        <h5>Destination</h5>
        <div class="input-group" id="searchBox">
            <input id="searchText" type="text" class="form-control" placeholder="GoTo">
            <span class="input-group-btn">
                        <button id="searchButton" class="btn btn-primary" type="button"><span
                                    class="glyphicon glyphicon-search"></span></button>
                    </span>
        </div>
    </div>

    <div id="controls" class="col-sm-2 tabcontentLeft leftTabPadding"
         style="font-size: 12px !important; padding-bottom: 5% !important;">
        <h5>Disease Projection</h5>
        <div class="dropdown" id="diseaseDropdown" style="height: 10px">
        </div>
        <br><br><br><br>
        <h5>Famine and Food Projection</h5>
        <a href="https://worldwind.arc.nasa.gov/agrosphere/" class="btn btn-info btn-block" type="button">Agrosphere<span class="caret"></span></a>
    </div>

    <div id="drawing" class="col-sm-2 tabcontentLeft leftTabPadding"
         style="font-size: 12px !important; padding-bottom: 5% !important;">
        <h5>Timelapse of Coronavirus:</h5>
<!--        <div style="height: 10px">-->
        <button id="toggleTL" class="btn btn-primary" type="button">START</button>
        <button id="playTL" class="btn btn-primary" style="display: none" type="button">PLAY</button>
        <button id="pauseTL" class="btn btn-primary" style="display: none" type="button">PAUSE</button>
        <button id="stopTL" class="btn btn-primary" style="display: inline-block;" type="button">STOP</button>
<!--        </div>-->
        <div class="form-group">
            <div class="row">
                <div class="col-md-2 push-md-10">
                    <h5>Date Range:</h5>
                </div>
                <div class="col-md-10 pull-md-2">
                    <input type="text" id="amount" readonly style="border: 0px; color: white; background-color: transparent">
                    <div id="slider-range"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2 push-md-10">
                    <h5>Current:</h5>
                </div>
                <div class="col-md-10 pull-md-2">
                    <input class="date form-control" id="currentdatepicker" style="color:#000000; position: relative;
                             display: block">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2 push-md-10">
                    <h5>From:</h5></div>
                <div class="col-md-10 pull-md-2">
                    <input class="date form-control" id="fromdatepicker" style="color:#000000; position: relative;
                     display: block">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2 push-md-10">
                    <h5>To:</h5></div>
                <div class="col-md-10 pull-md-2">
                    <input class="date form-control" id="todatepicker" style="color:#000000; position: relative;
                    display: block">
                </div>
            </div>
        </div>

        <div class="list-group" id="annotationList" style="width: 100%; text-align: center;">
            <div class="input-group" id="annotationBox" style="width: 100%;text-align: center;align-content: center;">
                <div class="smallRule">
                    <h5><strong>Highest Infections (>100k)</strong></h5>
                    <div id="magSlider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                         style="width: 100%;">
                        <div class="ui-slider-range ui-widget-header ui-corner-all"
                             style="left: 61.4286%; width: 38.5714%;"></div>
                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                              style="left: 75.7143%;"></span>
                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                              style="left: 100%;"></span>
                        <div class="ui-slider-range ui-widget-header ui-corner-all"
                             style="width: 24.2857%; left: 75.7143%;"></div>
                    </div>
                    <h5><span id="magSliderValue">5 to 100 Countries</span></h5>
                </div>
                <div class="smallRule">
                    <h5><strong>Highest Deaths (>10k)</strong></h5>
                    <div id="depthSlider"
                         class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                         style="width: 100%;">
                        <div class="ui-slider-range ui-widget-header ui-corner-all"
                             style="left: 61.4286%; width: 38.5714%;"></div>
                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                              style="left: 75.7143%;"></span>
                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                              style="left: 100%;"></span>
                        <div class="ui-slider-range ui-widget-header ui-corner-all"
                             style="width: 24.2857%; left: 75.7143%;"></div>
                    </div>
                    <h5><span id="depthSliderValue">5 to 100 Countries</span></h5>
                </div>
                <div style="color: #FFFFFF;">
                    <h5><strong>Surface Opacity</strong></h5>
                    <div id="opacitySlider"
                         class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                         style="width: 100%;">
                    </div>
                    <h5><span id="opacitySliderValue">% opacity</span></h5>
                </div>
            </div>
        </div>
    </div>

    <div id="information" class="col-sm-2 tabcontentRight" style="width: 25% !important;">
        <ul class="tab"
            style="z-index: 999; position: fixed; width: auto; background: rgba(46,74,110,1); overflow: visible">
            <li><a class="tablinksInfo"onclick="openTabInfo(event, 'confirmed_cases');"
                   style="font-size: 16px">Confirmed Cases</a>
            </li>
            <li><a class="tablinksInfo" id="conD" onclick="openTabInfo(event, 'confirmed_deaths')" style="font-size: 16px">Deaths</a>
            </li>
            <li><a class="tablinksInfo" id="conR" onclick="openTabInfo(event, 'confirmed_recoveries')" style="font-size: 16px">Recovered</a></li>
        </ul>

        <div id="confirmed_cases" class="col-sm-2 tabcontentInfo" style="display: initial">
            <h4><strong>Number of Confirmed Cases:</strong></h4>
            <hr>
            <p style="font-size: 72px"><span id="conC"></span></p>
        </div>

        <div id="confirmed_deaths" class="col-sm-2 tabcontentInfo">
            <h4><strong>Number of Confirmed Deaths:</strong></h4>
            <hr>
            <p style="font-size: 72px"><span id="conD"></span></p>
        </div>

        <div id="confirmed_recoveries" class="col-sm-2 tabcontentInfo">
            <h4><strong>Number of People Recovered:</strong></h4>
            <hr>
            <p style="font-size: 72px"><span id="conR"></span></p>
        </div>
    </div>

    <div id="graphs" class="col-sm-2 tabcontentRight" style="width: 25% !important;">
        <ul class="tab"
            style="z-index: 999; position: fixed; width: auto; background: rgba(46,74,110,1); overflow: visible">
            <li><a class="tablinksInfo" id="graph1" onclick="openTabInfo(event, '1_day');" style="font-size: 12px">Current</a></li>
            <li><a class="tablinksInfo" id="graph2" onclick="openTabInfo(event, '7_days')" style="font-size: 12px">Past 7 Days</a></li>
            <li><a class="tablinksInfo" id="graph3" onclick="openTabInfo(event, '9_weeks')" style="font-size: 12px">Past 9 Weeks </a></li>
            <li><a class="tablinksInfo" id="graph4" onclick="openTabInfo(event, '12_months')" style="font-size: 12px">Past 12 Months </a></li>
        </ul>

        <div id="colBody">

        </div>

        <div id="1_day" class="col-sm-2 tabcontentInfo" style="display: initial">
            <h4><strong>Number of Confirmed Cases:</strong></h4>
            <hr>
            <p style="font-size: 72px"><span id="graph1"></span></p>
        </div>

        <div id="7_days" class="col-sm-2 tabcontentInfo">
            <h4><strong>Number of Confirmed Deaths:</strong></h4>
            <hr>
            <p style="font-size: 72px"><span id="graph2"></span></p>
        </div>

        <div id="9_weeks" class="col-sm-2 tabcontentInfo">
            <h4><strong>Number of People Recovered:</strong></h4>
            <hr>
            <p style="font-size: 72px"><span id="graph3"></span></p>
        </div>
        <div id="12_months" class="col-sm-2 tabcontentInfo">
            <h4><strong>Number of People Recovered:</strong></h4>
            <hr>
            <p style="font-size: 72px"><span id="graph4"></span></p>
        </div>
        <div class="chart-container" id="colBody">
            <!--                    <div class="popup-Body chart-container" id="popupBody">-->
            <canvas id = "stackedChart" style="background:#fff; height:200px;"></canvas>
        </div>
    </div>

    <div id="popover" style="border-style: solid; opacity: 0;" hidden></div>
</div>
<script>
    $(document).ready(function() {
        flatpickr(".date", {
            dateFormat: "Y-m-d",
            time_24hr: true
        });
    //     alert('Welcome to CitySmart V2! Our application works best on the most recent version of Chrome. If you are experiencing any problems, try switching a browser.');
    //     alert('Please wait for our application to finish loading before attempting to login.');
    });



</script>
</body>
</html>